/* WRAPPER */
.wrapper {
  max-width: 750px;
  margin: -25px auto 4rem;
}

/* INPUT */
form {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 4rem;
}

.todoInput {
  box-sizing: border-box;
  flex: 1;
  padding: 1rem;
  border: none;
  border-radius: var(--border-radius);
  font-size: var(--font-size-lg);
  line-height: 1.25;
  color: var(--text-color-muted);
  background: var(--gray-500);
  transition: all 0.2s;
}

.todoInput:focus {
  border: none;
  box-shadow: 0 0 0 2px var(--purple-dark);
  outline: none;
  color: var(--text-color);
}

.btnCreate {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-100);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-lg);
  background: var(--blue-dark);
  border: none;
  border-radius: var(--border-radius);
  padding: 1rem 1.5rem;
  cursor: pointer;

  transition: background 0.1s;
}

.btnCreate:hover {
  background: var(--blue);
}

.btnCreate svg {
  margin-left: 0.5rem;
}

/* TASKS PROGRESS */
.progress {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.progress > div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.progress .title {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-bold);
}

.badge {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  color: var(--gray-200);
  background: var(--gray-400);
  padding: 0.125rem 0.5rem;
  border-radius: var(--border-radius-full);
}

.tasksTotal {
  color: var(--blue);
}

.tasksDone {
  color: var(--purple);
}

/* TASK LIST */
